body {
  background-color: #1e1e2e; /* Mocha base */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  z-index: 9999;
}

#repos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.repo-card {
  opacity: 0.75;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}